.navbar{
  background:white;
  min-height: 100px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  color: black;
  font-size: 24px;
  z-index: 99;
  white-space: nowrap;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}

li{
  display: inline-block;
    padding: 26px 0;
    width: 100%;
    text-align: center;
    color:black;
}
